<div id='login_form'>
    <div class='login_cancel close' ng-click='close(null, null)'></div>
    <div class='login_title'>
        <span> Log in </span>
    </div>
    <!--div id="background-img"-->
        <form class='login_form'>
            <fieldset>
                <div class='fields_container' klb-after-error>
                    <label class='login_label' for='username'> User name: </label>
                    <input class='login_input' type='text' name='username'  autofocus
                           id='username' autocomplete='off' ng-model="res_1"/>

                    <br/>
                    <label class='login_label' for='password'> Password: </label>
                    <input class='login_input' type='password' name='password'
                           id='password' autocomplete='off' ng-model="res_2"/>

                    <span class='login_misc' ng-controller="accountController">
                        <a href='#' ng-click="accountDialog('passwordreminder')"
                           class='modalInput' ng-style="foregroundColor()">  Forgot password? </a>
                    </span>

                    <input klb-button type='submit' value='Log in' ng-click='close(res_1, res_2)'/>

                    <!--div class='login_input.aux'>
                        <input class='login_checkbox' id='remember' type='checkbox' name='remember'/>
                        <label class='login_label' for='remember'> Remember me </label>
                    </div-->
                </div>
            </fieldset>
        </form>
    <!--/div-->
</div>

