<div id="reminder-form"  password-reminder >
    <div class="login_title">
        <span> Password reminder</span>
        <div class="login_cancel close" ng-click='close(null)'></div>
    </div>
    <form class="reminder-form">
        <fieldset>
            <div class='fields_container' klb-after-error>
                <label class="login_label" for="email-rem"> Please enter Your E-mail:</label>
                <input class="login_input" type="email" value="" ng-model="email" name="email-rem" id="email-rem"/>
                
                <br/>
                <span> and </span>
                
                <label class="login_label" for="radio1"> User name:</label>
                <input id="radio1" type='radio' name='lookfor' ng-model="lookfor" value='username'/>
                <span> or </span>
                <label class="login_label" for="radio2"> Full name:</label>
                <input id="radio2" type='radio' name='lookfor' ng-model="lookfor" value='fullname'/>
                
                <br/>
                <label class="login_label" for="name-rem" id="lbl-username"> User name:</label>
                <label class="login_label" for="name-rem" id="lbl-fullname"> Full name (first and last names): </label>
                <input class="login_input" type="text" name="name-rem" ng-model="name" id="name-rem"/>
                
                <span class="login_misc"></span>

                <input klb-button type="submit" value="Ok" ng-click='close(email, lookfor, name)'/>
            </div>
        </fieldset>
    </form>
</div>