doctype html
html(ng-app='theKlubApp')
    head

        title= title

        link(rel='stylesheet', href='/projects/hall/css/normalize.css')

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')

        //script(src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js')
        script(src='/libs/ui-bootstrap-tpls-0.5.0.js')
        script(src='/libs/Binaryajax.js')
        script(src='/libs/Exif.js')

        script(src='/klub_libs/validator/klub-validator.js')
        //script(src='/klub_libs/split_btn/klub-splitbtn.js')
        //link(rel="stylesheet", href='/klub_libs/split_btn/klub-split.css')

        script(src='/projects/hall/js/layout.js')

        script(src='/projects/hall/js/klubApp.js')
        script(src='/projects/hall/js/controllers/LayoutController.js')
        script(src='/projects/hall/js/controllers/AccountController.js')
        script(src='/projects/hall/js/controllers/HallController.js')
        script(src='/projects/hall/js/directives/MenuItem.js')
        script(src='/projects/hall/js/directives/KlbSplit.js')
        script(src='/projects/hall/js/directives/KlbButton.js')
        script(src='/projects/hall/js/directives/KlbAfterError.js')
        script(src='/projects/hall/js/directives/PasswordReminder.js')
        script(src='/projects/hall/js/directives/GalleryBreadcrumb.js')
        //script(src='/projects/hall/js/directives/CountriesList.js')

        script(src='/projects/photo_gallery/js/controllers/GalleryController.js')
        script(src='/projects/photo_gallery/js/controllers/ThumbsController.js')
        script(src='/projects/photo_gallery/js/controllers/SinglePhotoController.js')
        script(src='/projects/photo_gallery/js/controllers/AddPhotoController.js')
        script(src='/projects/photo_gallery/js/controllers/probaController.js')
        script(src='/klub_libs/zoom/klb-fitscreen.js')

        script(src='/projects/hall/js/services/LayoutService.js')
        script(src='/projects/hall/js/services/AccountService.js')
        script(src='/projects/hall/js/services/UserService.js')
        script(src='/projects/photo_gallery/js/services/GalleryService.js')
        script(src='/projects/photo_gallery/js/services/ThumbsService.js')
        script(src='/projects/photo_gallery/js/services/SinglePhotoService.js')
        script(src='/projects/photo_gallery/js/services/AddPhotoService.js')

        script(src='/projects/photo_gallery/js/directives/ResizeThumb.js')
        script(src='/projects/photo_gallery/js/directives/Thumbnail.js')
        script(src='/projects/photo_gallery/js/directives/SinglePhoto.js')
        script(src='/projects/photo_gallery/js/directives/InputFileContainer.js')
        script(src='/projects/photo_gallery/js/directives/GenreList.js')
        script(src='/projects/photo_gallery/js/directives/UploadFile.js')
        script(src='/projects/photo_gallery/js/directives/Overlay.js')
        script(src='/projects/photo_gallery/js/directives/proba.js')

        //link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css")
        link(rel="stylesheet", href="/libs/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="/projects/hall/css/bs-redefine.css")
        link(rel="stylesheet", href="/projects/hall/css/klb-split.css")

        link(rel='stylesheet', href='/projects/hall/css/style.css')
        link(rel='stylesheet', href='/projects/hall/css/hall.css')
        link(rel='stylesheet', href='/projects/hall/css/account.css')
        link(rel='stylesheet', href='/projects/photo_gallery/css/galleryHome.css')
        link(rel='stylesheet', href='/projects/photo_gallery/css/thumbs.css')
        link(rel='stylesheet', href='/projects/photo_gallery/css/singlePhoto.css')
        link(rel='stylesheet', href='/projects/photo_gallery/css/addPhoto.css')
        link(rel="stylesheet", href='/klub_libs/zoom/klb-fitscreen.css')

    body(ng-controller='LayoutController', ng-style="bodyColor()" )
        #wrapper(ng-style="colors()")
            #title(ng-style="colors()")
                #header
                    #pic
                        img(ng-src='{{titleBar.promoImg}}')
                    a#home-anchor(href='{{titleBar.promoHref}}')
                        h2#promo-message(ng-style="linkColor()") {{titleBar.promoMsg}}

                #log_bind_content(ng-controller="accountController")
                    #login(ng-hide='titleBar.logged')
                        ul.hall-menu-h
                            li(hor-menu-item)
                                a(href="#", ng-click='accountDialog("login")', ng-style="linkColor()") Log in
                            li(hor-menu-item)
                                a(href="#",ng-click='accountDialog("register")', ng-style="linkColor()") Register

                    #logout(ng-show='titleBar.logged')
                        div(style="float: left")
                            klb-split

                        //.vvv
                            div(style="float:left", ng-show="showGalleryMenu()")
                                a(href="/addPhoto", ng-style="linkColor()") Add photo

                #logo
                    a(href="/", title="Exit to Hall")
                        img(src="/images/the_klubo_white_brown.bmp")


            nav#subtitle(ng-style="colors()")
                div(ng-show="showGalleryMenu()")
                    //select-gallery(link="link", tip="tip", gallery="selectGallery()")
                    //a(id="subtitle-menu", title="{{ tip }}", href="/gallery")
                      img(id="invitation-img", ng-src="../../../../images/k-menu-edit-icon-16x16-1.png")

                    //#subtitle-info {{ titleBar.subTitle }}

                    ol(id='bread-crumb', gallery-breadcrumb)
                        li
                            a(id='galleries', href='/gallery') Galleres
                        li
                            a(id='thumbs') / {{ gallery }}
                        li / {{ photo }} ( by
                            a(title="View all photos of the author") {{ author }}
                            span )

                ul.hall-menu-h(ng-show="showHallMenu()")
                    li(hor-menu-item)
                        a(id='gallery', href='/gallery') Photo Gallery
                    //li(hor-menu-item)
                        a(id='library', href='/proba') Reading Room
                    li(hor-menu-item)
                        a(id='library', href='http://www.theklub.info:9000') Reading Room
                    li(hor-menu-item)
                        a(id='eclectic', href='http://eclecticparallels.com/', target="_blank") Eclectic Parallels

                //ul.hall-menu-h(ng-show="showHallMenu()", id="por")
                    li(hor-menu-item) 111
                    li(hor-menu-item) 222
                    li(hor-menu-item) 333

            #mainpanel
                ng-view


